.top {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}
ul {
  position:fixed;
  top:0;
  width:100%;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#000000 ;
}
  li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  li a:hover {
    background-color:	#C0C0C0;
}
li {
border-right: 0.25px solid #bbb;
border-left: 0.25px solid #bbb;
}
li:last-child {
border-right: 0.25px solid #bbb;
border-left: 0.25px solid #bbb;
}
.active {
background-color:	#880000 ;
}
